@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');

//Website Color Scheme
$red: rgb(241, 66, 66);

$greenish: rgb(90, 201, 140);
$matteblack: #343a40;

*{
    font-family: 'Sen';
}

.box{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: $matteblack;
    position: fixed;
    left: 0;
    top: 0;
}

.rBtn{
    border-radius: 8px;
    padding: 10px 20px 10px;
    color: white;
    margin: 1rem 1rem 0 0;
}
.LoginBtn{
    border: 1px solid white;
    background: None;
    &:hover{
        background-color: $red;
    }
}
.RegisterBtn{
    border: 1px solid white;
    background-color: $red;
    &:hover{
        background-color: lighten($color: $red, $amount: 5);
    }
}

.box{
    h1{
        color: $red;
        font-weight: 700;
        font-size: 6rem;
    }
    
    h2{
        color: rgb(230, 230, 230);
    }
    .card{
        color: lighten($color: $red, $amount: 10);
        border: none;
        .card-header, .card-body{
            background-color: $matteblack;
            border: none;
            input{
                background-color: $matteblack;
                color: white;
            }
            button{
                margin: 0 0 1rem 0;
                transition: all ease-in-out 0.5s;
                background-color: lighten($color: $matteblack, $amount: 5);
                &:hover{
                    background-color: darken($color: $matteblack, $amount: 2);
                }
            }
        }
    }
}