@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');

//Website Color Scheme
$redlight: rgb(241, 66, 66);
$reddark: darken($redlight, 10);
$greenish: rgb(90, 201, 140);
$matteblack: #343a40;

*{
    font-family: 'Sen';
}

.box{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: $matteblack;
    position: fixed;
    left: 0;
    top: 0;
}

.box h1{
    color: $redlight;
    font-weight: 700;
    font-size: 6rem;
}
.box h2{
    color: rgb(230, 230, 230);
}
.rBtn{
    border-radius: 8px;
    padding: 10px 20px 10px;
    color: white;
    margin: 1rem 1rem 0 0;
}
.LoginBtn{
    border: 1px solid white;
    background: None;
    &:hover{
        background-color: $redlight;
    }
}
.RegisterBtn{
    border: 1px solid white;
    background-color: $redlight;
    &:hover{
        background-color: lighten($color: $redlight, $amount: 5);
    }
}